html, body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 15px;
    line-height: 1.5;
    font-family: 'Consolas', Monospace;
    font-weight: 400!important;
    background: #90a4ae;
}
a {
    text-decoration: none;
    color: #78909c;
}
em { 
    color: aliceblue; 
    text-align: center;
}
ul { 
    list-style: none;
}
.puce {
    list-style: disc;
}
/*** TOOLS ***/
.alice  { background: aliceblue;}
.tleft { text-align: left;}
.tright { text-align: right;}
.ice { color: aliceblue;}
.right { float: right;}
/*** TITLES ***/
h1{
    font-size: 35px;
    color: #37474f;
    text-align: center;
    margin: 30px auto;
    font-weight: 400;
}
h2 {
    background: #37474F;
    padding: 10px 20px;
    font-size: 30px;
    color: #fff;
    text-align: center;
    margin: 40px 0 50px 0;
    font-weight: 400;
    width: 100%;
}
h3 {
    color: #37474f;
    text-align: left;
    margin: 20px auto;
    font-weight: 400;
}
table, th, td {
    border: 1px solid #37474f;
    border-collapse: collapse;
    background: aliceblue;
    padding:10px;
    margin: auto;
}
.f20 {
    font-size: 20px;
}
/*** CONTAINERS ***/
nav {
    display: flex;
    justify-content: space-between;
    padding: 0 2rem;
    align-items: center;
    color: #fff;
    height: 100px;
    z-index: 1;
}
.container {
    background: aliceblue;
    padding-top: 130px;
    padding-bottom: 130px;
    width: 100%;
    margin: auto;
}
main {
    padding-top: 130px;
    padding-bottom: 130px;
    width: 80%;
    margin: auto;
}
.module{
    width:400px;
    margin: 5% auto;
}
.module2 {
    width: 75%;
    margin: 5% auto;
}
header {
    top: 0;
    position: fixed;
    width: 100%;
    background: #37474f;
    height: 100px;
    padding-top: 0; 
}
header a {
    color: #78909c;
    text-decoration: none;
    transition: ease-in-out 0.5s;
}
header a:hover {
    color: #fff;
}
footer {
    width: 100%;
    background: #37474f;
    color: aliceblue;
}
.foot {
    width: 80%;
    margin: auto;
    padding: 60px 0 50px 0;
}
/*** FLEX ***/
.row {
    display: flex;
    gap: 5%;
    margin: 0 auto;
}
.col {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}
.wrap {
    flex-wrap: wrap;
}
.flex2 {
    width: 47.5%;
}
.flex3 {
    width: 31.66%;
}
.flex4 {
    width: 23.75%;
}
.end {
    justify-items: flex-end;
}
.start {
    justify-items: flex-start;
}
.spbet {
    justify-content: space-between;
}
.center {
    justify-items: center;
    align-items: center;
}
/*** FORMS ***/
form {
    width:100%;
    padding: 30px;
    border: 1px solid #7D7D7D;
    background: #fafafa;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
form:hover {
    z-index: 1;
}
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px auto;
    display: inline-block;
    border: 1px solid #2e383d;
    box-sizing: border-box;
    transition: ease-in-out 0.5s;
}

   /* Set a style for all buttons */
input[type=submit] {
    background-color: #90A4AE;
    color: #333;
    border: 1px solid #37474f;
    padding: 12px 20px;
    margin: 8px auto;
    cursor: pointer;
    transition: ease-in-out 0.5s;
}
input[type=submit]:hover {
    background: #37474f;
    border: 1px solid #78909c;
    color: #78909c;
}
/*** FA ***/
.fa-solid {
    color: #37474f;
    transition: ease-in-out 0.5s;
}
.fa-solid:hover {
    color: #78909c;
}
.fa-home, .fa-user, .fa-screwdriver-wrench{
    color: #78909c;
    padding: 0 10px;
    transition: ease-in-out 0.5s;
}
.fa-home:hover, .fa-user:hover, .fa-screwdriver-wrench:hover {
    color: #fff;
}
    .fa-envelope {
    color: aliceblue;
    padding: 0 10px;
    transition: ease-in-out 0.5s;
}

.mail:hover .fa-envelope:before {
    content: "\f658";
    color: #78909c;
    transform: rotate(-30deg);
    transition: ease-in-out 0.5s;
}
/*** ELEMENTS ***/
button {
    background: #78909c;
    border: 1px solid #2e383d;
    color: #fff;
    padding : 5px 10px;
    margin: 0 5px;
    transition: ease-in-out 0.5s;
}
button:hover {
    background: #37474f;
    border: 1px solid #78909c;
    color: #78909c;
    cursor: pointer;
}
.card {
    background: #fff;
    line-height: 20px;
    border: 1px solid #78909c;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
}
.pan {
    width: 100%;
    background: beige;
    border: 1px solid #78909c;
    padding: 10px;
    margin-top: 40px;
    border-radius: 5px;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
}
